<!-- Sticky Social Share Component -->
<div class="sticky-social-share d-none d-lg-flex">
    <div class="share-title">Share</div>
    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title|urlencode }}"
       target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter" class="social-share-link twitter" 
       data-bs-toggle="tooltip" data-bs-placement="left" title="Share on Twitter">
        <i class="bi bi-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
       target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook" class="social-share-link facebook"
       data-bs-toggle="tooltip" data-bs-placement="left" title="Share on Facebook">
        <i class="bi bi-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title|urlencode }}"
       target="_blank" rel="noopener noreferrer" aria-label="Share on LinkedIn" class="social-share-link linkedin"
       data-bs-toggle="tooltip" data-bs-placement="left" title="Share on LinkedIn">
        <i class="bi bi-linkedin"></i>
    </a>
    <a href="mailto:?subject={{ post.title|urlencode }}&body=Check out this post: {{ request.build_absolute_uri }}"
       aria-label="Share via Email" class="social-share-link email"
       data-bs-toggle="tooltip" data-bs-placement="left" title="Share via Email">
        <i class="bi bi-envelope-fill"></i>
    </a>
    <button class="social-share-link copy" id="copy-link" aria-label="Copy link to clipboard"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Copy link"
            data-url="{{ request.build_absolute_uri }}">
        <i class="bi bi-link-45deg"></i>
    </button>
</div>